In [1]:
#Import Libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn import linear_model as lm
import seaborn as sns
import numpy as np
import scipy.stats as stats
from pathlib import Path

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = Path('Resources/merged_data_cleaned.csv')
coffee_df = pd.read_csv(csv_path)
coffee_df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [3]:
coffee_df.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
       'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
       'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
       'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [4]:
coffee_df_new = coffee_df.rename(columns={'Total.Cup.Points': 'CoffeeScore',
                                            'Country.of.Origin': 'Country_of_Origin',
                                         'Processing.Method': 'Processing_Method'})

## Data Cleaning

In [5]:
# Clean Country of Origin
coffee_df_new['Country_of_Origin'] = coffee_df_new['Country_of_Origin'].replace(['United States (Hawaii)'],
                                                                                'United States (HI)').replace(['United States (Puerto Rico)'],
                                                                                                              'United States (PR)').replace(['Tanzania, United Republic Of'], 'Tanzania')

# Clean Region
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['campos altos - cerrado',
                                                           'carmo de minas', 'high mogiana',
                                                           'mantiqueira de minas', 'minas gerais, br',
                                                           'mogiana', 'monte carmelo', 'mountains of minas gerais'],
                                                          'Minas Gerais').replace(['south of minas', 'sul de minas',
                                                                                   'sul de minas - carmo de minas'],
                                                                                  'Sul de Minas').replace(['alta paulista (sao paulo)'],
                                                                                                          'Alta Paulista').replace(['brazil matas de minas'],
                                                                                                                                   'matas de minas').replace(['cerrado - monte carmelo - minas gerais',
                                                                                                                                   'chapadÃ£o de ferro (cerrado mineiro)'],
                                                                                                                                   'cerrado').replace(['vale da grama'], 'grama valley')

coffee_df_new['Region'] = coffee_df_new['Region'].replace(['52 narino (exact location: mattituy; municipal region: florida code 381',
                                                           'nariÃ±o'], 'Narino').replace(['huila supremo', 'south huila'], 'huila')

coffee_df_new['Region'] = coffee_df_new['Region'].replace(['valle central'], 'central valley').replace(['west and central valley'], 'west valley')

coffee_df_new['Region'] = coffee_df_new['Region'].replace(['ataco, apaneca - ilamatepec mountain range',
                                                           'department of ahuachapan, municipality of apanecallamatepec mountain'],
                                                           'apaneca').replace(['el balsamo, quezaltepec'], 'Chalatenango')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['province of manabi, ecuador'], 'Manabi').replace(['san juan, playas'], 'San Juan')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['blida,kercha,guji,oromia',
                                                           'guji-hambela'], 'Guji').replace(['kefa zone, gimbo distict, at a place called woka araba, south west ethiopia.'],
                                                                                            'Keffa Zone').replace(['gedio',
                                                                                                                   'snnp/kaffa zone,gimbowereda',
                                                                                                                   'snnprg; kafa; telo woreda; shada kebele'], 'SNNPR').replace(['ethiopia, sidamo',
                                                                                                                   'sidamo'], 'Sidama').replace(['kelem welega', 'limu', 'oromiya'],
                                                                                                                                                'oromia').replace(['aricha'], 'yirgacheffe')

coffee_df_new['Region'] = coffee_df_new['Region'].replace(['chuva, san marcos', 
                                                           'el tumbador, san marcos',
                                                           'la reforma, san marcos'],
                                                          'san marcos').replace(['nuevo oriente', 'orient', 'oriente'],
                                                                                 'santa rosa').replace(['san lucas toliman, solola'],
                                                                                                       'solola').replace(['aldea xeucalvitz, ixil region, quiche department'],
                                                                                                                         'Quiche').replace(['sacatepequez, guatemala'],
                                                                                                                                           'Sacatepequez')

coffee_df_new['Region'] = coffee_df_new['Region'].replace(["department d'artibonite , haiti"],
                                                           'Artibonite').replace(['dondon, haiti'],
                                                                                 'Dondon').replace(['thiotte, haiti'], 'Thiotte')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['central region',
                                                           'comayagua, honduras', 'siguatepeque, comayagua'],
                                                          'comayagua').replace(['el paraÃ­so',
                                                                                'guinope el paraÃ­so'], 'El Paraiso').replace(['marcala'],
                                                                                                                              'La Paz').replace(['san marcos'], 'ocotepeque')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['chickmangalore', 'chikmagalur karnataka',
                                                           'chikmagalur karnataka india', 'chikmagalur karnataka indua'],
                                                          'chikmagalur') 
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['aceh gayo',
                                                           'aceh tengah'], 'aceh').replace(['lington nihuta',
                                                                                            'lintong', 'sumatra brastagi'],
                                                                                           'Sumatra').replace(['central kenya'],
                                                                                                              'Central').replace(['temanggung, indonesia'],
                                                                                                                                 'Central Java')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['lao p.d.r.'],
                                                          'Bolaven Plateau').replace(['paksong,laos'],
                                                                                     'Paksong').replace(['chamarel (south west)'],
                                                                                                        'Chamarel')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['los angeles'],
                                                          'Baja').replace(['amatenango de la frontera',
                                                                           'chiapas, jaltenango', 'chilÃ³n',
                                                                           'escuitla', 'jaltenango', 'la concordia',
                                                                           'la concordia, chiapas', 'motozintla',
                                                                           'motozintla, chiapas', 'ocosingo',
                                                                           'sacÃºn palma, municipio de chilÃ³n, chiapas',
                                                                           'san pedro cotzilnam', 'santa maria sitepec',
                                                                           'sierra fraylesca, chiapas', 'sierra norte yajalon, chiapas',
                                                                           'sierra, chiapas', 'siltepec el triunfo',
                                                                           'siltepec el triunfo, chiapas, mexico', 'tapachula',
                                                                           'tuxtla gutierrez', 'yajalon'],
                                                                          'chiapas').replace(['canoas', 'cofradia de suchitlan',
                                                                                              'el remudadero', 'la cumbre', 'manzanillo'], 'colima').replace(['cuarenteÃ±o'],
                                                                                              'El Cuarenteno').replace(['atoyac de alvarez', 'iliatenco, guerrero',
                                                                                                                        'zihuatanejo de azueta'],
                                                                                                                       'Guerrero').replace(['calnali, hidalgo',
                                                                                                                                            'chapulhuacan, hidalgo',
                                                                                                                                            'huazalingo, hidalgo', 'jaltocan, hidalgo',
                                                                                                                                            'san bartolo tutotepec', 'tenango de doria, hidalgo',
                                                                                                                                            'tlanchinol, hidalgo'], 'Hidalgo') 
                                                           
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['el desmoronado, talpan de allende jalisco',
                                                           'talpa de allende'], 'Jalisco').replace(['santo reyes nopala'],
                                                                                                   'juquila').replace(['adolfo lopez mateos',
                                                                                                                       'tepetzingo'], 'mexico').replace(['ohuapan, tlaltetela'],
                                                                                                                       'Michoacan').replace(['la yerba', 'la yerbabuena'],
                                                                                                                                            'nayarit')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['huautla de jimenez', 'pluma hidalogo, oaxaca',
                                                           'san miguel del puerto', 'santa catarina juquila',
                                                           'santo domingo cacalotepec', 'sierra alta mixe y zapoteca',
                                                           'temaxcalapa', 'villa talea de castro', 'xochitonalco, huautla',
                                                           'zaragoza itundujia'], 'oaxaca').replace(['tlacuilotepec', 'tlatlauquitepec',
                                                                                                     'xicotepec de juarez',
                                                                                                     'zapotitlan de mendez'], 'Puebla').replace(['san fernando'], 'Tamaulipas')  
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['altotonga', 'chocaman, veracruz', 'coatepec', 'coatepec, coatepec',
                                                           'coscomatepec', 'fortÃ­n de las flores', 'hustusco', 'ixhuatlan del cafe',
                                                           'juchique de ferrer', 'mahuixtlan', 'progreso santa rosa teocelo', 'tepictla',
                                                           'totutla', 'xalapa', 'yecuatla', 'zentla'], 'Veracruz')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['doe kwin, pyin oo lwin', 'pyin oo lwin'],
                                                          'pyinoolwin').replace(['yauk sauk, shan state'],
                                                                                'South Shan State').replace(['ywar ngan township'],
                                                                                                            'ywar ngan').replace(['dipilto, nueva segovia'],
                                                                                                                                 'nueva segovia')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['chiayi alishan å˜‰ç¾©ç¸£é˜¿é‡Œå±±é„‰',
                                                           'chiayi fanluå˜‰ç¾©ç¸£ç•ªè·¯é„‰',
                                                           'leye, alishan township, chiayi county',
                                                           'leye, alishan township, chiayi county å˜‰ç¾©é˜¿é‡Œå±±æ¨‚é‡Žæ‘'],
                                                          'Chiayi').replace(['changhua baguashan å½°åŒ–å¸‚å…«å¦å±±'],
                                                                            'Changhua').replace(['yunlin é›²æž—ç¸£çŸ³å£',
                                                                                                 'yunlin gukeng he bao é›²æž—ç¸£å¤å‘é„‰è·è‹žæ‘'],
                                                                                                'Gukeng Township').replace(['åœ‹å§“é„‰ guoshing township'],\
                                                                                                                           'Guoshing Township').replace(['natou county'],
                                                                                                                           'nantou')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['taichung taiping å°ä¸­å¸‚å¤ªå¹³å€',
                                                           'taichung xinshe å°ä¸­å¸‚æ–°ç¤¾å€'],
                                                          'Taichung').replace(['å°å—å¸‚æ±å±±å€ (dongshan dist., tainan city)',
                                                                               'å°å—å¸‚æ±å±±å€( dongshan dist., tainan city)',
                                                                               'baihe dist., tainan city è‡ºå—å¸‚ç™½æ²³å€',
                                                                               'dongshan dist., tainan city å°å—å¸‚æ±å±±å€',
                                                                               'dongshan dist., tainan city è‡ºå—å¸‚æ±å±±å€',
                                                                               'nanxi dist., tainan city è‡ºå—å¸‚æ¥ è¥¿å€'],
                                                                              'Tainan City').replace(['å˜‰ç¾©é˜¿é‡Œå±±', 'å¤å‘é„‰è·åŒ…æ‘å°–å±±å‘60è™Ÿ',
                                                                                                      'å°ä¸­å’Œå¹³å€', 'å°ä¸­æ–°ç¤¾', 'å°æ±å¤ªéº»é‡Œ	å°ç£',
                                                                                                      'å—æŠ•åœ‹å§“', 'è‹—æ —ä¸‰ç£', 'è‹—æ —æ³°å®‰',
                                                                                                      'taiwu township , pingtung county å±æ±ç¸£æ³°æ­¦é„‰'], 'Taiwu Township')
                                                           
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['arusha meru'], 'arusha').replace(['luwero central region'],
                                                                                             'central').replace(['chiang rai thailand',
                                                                                                                 'chiangrai', 'doi chaang village, chiang rai, thialand',
                                                                                                                 'thailand'], 'chiang rai').replace(['bulambuli eastern region',
                                                                                                                                                     'eastern uganda',
                                                                                                                                                     'iganga namadrope eastern'],
                                                                                                                                                    'eastern').replace(['kapchorwa eastern'], 'kapchorwa')
                                                           
coffee_df_new['Region'] = coffee_df_new['Region'].replace(['karatu arusha',
                                                           'karatu ngorogoro', 'karatu northern',
                                                           'manyara, karatu'], 'Karatu').replace(['kasese, mt. rwenzori'],
                                                                                                 'kasese').replace(['iwala village, mbeya rural'],
                                                                                                                   'mbeya').replace(['sipi, mt elgon'],
                                                                                                                                    'mt elgon').replace(['ruvuma, mbinga'],
                                                                                                                                    'ruvuma').replace(['sheema south western'],
                                                                                                                                                      'south western')
                                                           
coffee_df_new.head(20)
#coffee_df_new.to_csv("Coffee_exp.csv", index=False)

,Unnamed: 0,Species,Owner,Country_of_Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
5,5,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN
6,6,Arabica,hugo valdivia,Peru,NaN,NaN,hvc,NaN,richmond investment-coffee department,NaN,...,Bluish-Green,0,"September 17th, 2013",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN
7,7,Arabica,ethiopia commodity exchange,Ethiopia,aolme,NaN,c.p.w.e,010/0338,NaN,1570-1700,...,NaN,0,"September 2nd, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,1570.0,1700.0,1635.0
8,8,Arabica,ethiopia commodity exchange,Ethiopia,aolme,NaN,c.p.w.e,010/0338,NaN,1570-1700,...,NaN,0,"September 2nd, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,1570.0,1700.0,1635.0
9,9,Arabica,diamond enterprise plc,Ethiopia,tulla coffee farm,NaN,tulla coffee farm,2014/15,diamond enterprise plc,1795-1850,...,Green,4,"March 29th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1795.0,1850.0,1822.5
10,10,Arabica,mohammed lalo,Ethiopia,fahem coffee plantation,NaN,NaN,NaN,fahem coffee plantation,1855-1955,...,NaN,1,"March 26th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1855.0,1955.0,1905.0
11,11,Arabica,cqi q coffee sample representative,United States,el filo,NaN,NaN,unknown,coffee quality institute,meters above sea level: 1.872,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,1872.0,1872.0,1872.0
12,12,Arabica,cqi q coffee sample representative,United States,los cedros,NaN,NaN,unknown,coffee quality institute,meters above sea level: 1.943,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,1943.0,1943.0,1943.0
13,13,Arabica,grounds for health admin,United States (HI),arianna farms,NaN,NaN,NaN,NaN,2000 ft,...,NaN,2,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,ft,609.6,609.6,609.6
14,14,Arabica,ethiopia commodity exchange,Ethiopia,aolme,NaN,c.p.w.e,010/0338,NaN,1570-1700,...,NaN,2,"August 31st, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,1570.0,1700.0,1635.0
15,15,Arabica,cqi q coffee sample representative,United States,el águila,NaN,NaN,unknown,coffee quality institute,meters above sea level: 2.080,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,2080.0,2080.0,2080.0
16,16,Arabica,grounds for health admin,Indonesia,toarco jaya,NaN,NaN,NaN,NaN,1200-1800m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1200.0,1800.0,1500.0
17,17,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,NaN,010/0056,NaN,NaN,...,NaN,2,"June 16th, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,NaN,NaN,NaN
18,18,Arabica,yunnan coffee exchange,China,echo coffee,YNC-06114,echo coffee mill,NaN,yunnan coffee exchange,1450,...,Green,0,"April 7th, 2017",Yunnan Coffee Exchange,683fa6014608fc10ff681b0435b0b2dbe6df988f,f6d87a6c04653c569d4911a66f89d5e30ce83b93,m,1450.0,1450.0,1450.0
19,19,Arabica,essencecoffee,Ethiopia,drima zede,NaN,drima zede,100181006,essence coffee,1700-2000m,...,NaN,8,"March 24th, 2016",Blossom Valley International,fc45352eee499d8470cf94c9827922fb745bf815,de73fc9412358b523d3a641501e542f31d2668b0,m,1700.0,2000.0,1850.0
20,20,Arabica,cqi q coffee sample representative,United States,el rodeo,NaN,NaN,unknown,coffee quality institute,meters above sea level: 2.019,...,None,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,2019.0,2019.0,2019.0
21,21,Arabica,the coffee source inc.,Costa Rica,several,NaN,cafe altura de san ramon,5-562-0015,the coffee source inc.,1300 msnm,...,Green,2,"April 2nd, 2015",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1300.0,1300.0,1300.0
22,22,Arabica,roberto licona franco,Mexico,la herradura,NaN,la herradura,0,NaN,1320,...,Green,0,"July 26th, 2013",AMECAFE,59e396ad6e22a1c22b248f958e1da2bd8af85272,0eb4ee5b3f47b20b049548a2fd1e7d4a2b70d0a7,m,1320.0,1320.0,1320.0
23,23,Arabica,cqi q coffee sample representative,United States,la curva,NaN,NaN,unknown,coffee quality institute,meters above sea level: 2.112,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,2112.0,2112.0,2112.0
24,24,Arabica,ji-ae ahn,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,...,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN
25,25,Arabica,nucoffee,Brazil,fazenda kaquend,NaN,NaN,002/1251/0073,nucoffee,1250m,...,Green,2,"December 2nd, 2012",NUCOFFEE,567f200bcc17a90070cb952647bf88141ad9c80c,aa2ff513ffb9c844462a1fb07c599bce7f3bb53d,m,1250.0,1250.0,1250.0
26,26,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,NaN,010/0056/Sidamo,NaN,NaN,...,NaN,2,"June 16th, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,NaN,NaN,NaN
27,27,Arabica,kabum trading company,Uganda,chebonet (23) women coffee,NaN,kabum trading company,0,kabum trading company,1950,...,Green,1,"June 26th, 2015",Uganda Coffee Development Authority,188fe373b511e21f614564bf86aa4774270d8e04,b7614767a5343729bbde3a2777c60ce836aed928,m,1950.0,1950.0,1950.0
28,28,Arabica,bismarck castro,Honduras,los hicaques,102,cigrah s.a de c.v.,13-111-053,cigrah s.a de c.v,1400,...,Green,3,"May 18th, 2018",Instituto Hondureño del Café,b4660a57e9f8cc613ae5b8f02bfce8634c763ab4,7f521ca403540f81ec99daec7da19c2788393880,m,1400.0,1400.0,1400.0
29,29,Arabica,"lin, che-hao krude 林哲豪",Taiwan,tsoustructive garden 鄒築園,Tsoustructive 2015 Sumatra Typica,tsoustructive garden 鄒築園,Taiwan,taiwan coffee laboratory,1200,...,Green,0,"May 18th, 2017",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1200.0,1200.0,1200.0
30,30,Arabica,nora zeas,Nicaragua,NaN,NaN,beneficio atlantic condega,790-0013,NaN,NaN,...,NaN,2,"May 18th, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,NaN,NaN,NaN
31,31,Arabica,specialty coffee-korea,Tanzania,NaN,NaN,NaN,A019116,NaN,NaN,...,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN
32,32,Arabica,nucoffee,Brazil,fazenda recreio,NaN,NaN,002/1251/0068,nucoffee,1300,...,Green,2,"December 2nd, 2012",NUCOFFEE,567f200bcc17a90070cb952647bf88141ad9c80c,aa2ff513ffb9c844462a1fb07c599bce7f3bb53d,m,1300.0,1300.0,1300.0
33,33,Arabica,francisco a mena,Costa Rica,exclusive coffees s.a.,NaN,"exclusive coffees s.a,",5818009,exclusive coffees s.a.,1300,...,Blue-Green,0,"December 2nd, 2016",Specialty Coffee Association of Costa Rica,8e0b118f3cf3121ab27c5387deacdb7d4d2a60b1,5eb2b7129d9714c43825e44dc3bca9423de209e9,m,1300.0,1300.0,1300.0
34,34,Arabica,hider abamecha,Ethiopia,haider abamecha coffee plantation,NaN,faysal abamecha processing plant at yebu town,2014/15,haider abamecha coffee export,1750-1800,...,Green,3,"March 26th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1750.0,1800.0,1775.0
35,35,Arabica,daniel magu,Kenya,kangunu,NaN,central kenya coffee mills,0,c dorman ltd,1800,...,Blue-Green,1,"May 30th, 2015",Kenya Coffee Traders Association,ccba45b89d859740b749878be8c6d16fbdb96c2e,d752c909a015f3c76224b3c5cc520f8a67afda74,m,1800.0,1800.0,1800.0
36,36,Arabica,kona pacific farmers cooperative,United States (HI),NaN,NaN,NaN,220452,kona pacific farmers cooperative,NaN,...,NaN,4,"April 6th, 2013",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,ft,NaN,NaN,NaN
37,37,Arabica,kona pacific farmers cooperative,United States (HI),kona pacific farmers cooperative,NaN,NaN,HDOA 210128 Kona Fancy,NaN,NaN,...,NaN,1,"January 28th, 2012",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,ft,NaN,NaN,NaN
38,38,Arabica,ethiopia commodity exchange,Ethiopia,"phone number | 0911-51-08-01, email | at",NaN,NaN,010/0170,NaN,NaN,...,NaN,2,"June 17th, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,NaN,NaN,NaN
39,39,Arabica,cqi q coffee sample representative,United States,la primavera,NaN,NaN,unknown,coffee quality institute,meters above sea level: 1.941,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,1941.0,1941.0,1941.0
40,40,Arabica,itdp international,Thailand,co-op #12,NaN,NaN,01-011-512,lanna cafe,1300,...,Green,9,"April 12th, 2013",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1300.0,1300.0,1300.0
41,41,Arabica,jacques pereira carneiro,Brazil,pereira estate coffee,NaN,cocarive,002/1352/0045,NaN,1.2,...,NaN,2,"January 4th, 2012",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,12.0,12.0,12.0
42,42,Arabica,jacques pereira carneiro,Brazil,pereira estate coffee,NaN,cocarive,002/1352/0045,NaN,1.2,...,NaN,3,"January 4th, 2012",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,12.0,12.0,12.0
43,43,Arabica,"lin, che-hao krude 林哲豪",Taiwan,sunshine valley estate 向陽高山咖啡,NaN,sunshine valley estate 向陽高山咖啡,Taiwan,taiwan coffee laboratory,1000 m,...,Green,0,"June 9th, 2016",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1000.0,1000.0,1000.0
44,44,Arabica,jungle estate,Kenya,jungle estate,NaN,nkg coffee mills,NIL,keremara limited,1754,...,Bluish-Green,2,"January 29th, 2016",Kenya Coffee Traders Association,ccba45b89d859740b749878be8c6d16fbdb96c2e,d752c909a015f3c76224b3c5cc520f8a67afda74,m,1754.0,1754.0,1754.0
45,45,Arabica,nucoffee,Brazil,fazenda kaquend,NaN,NaN,002/1251/0071,nucoffee,1250m,...,Blue-Green,2,"December 2nd, 2012",NUCOFFEE,567f200bcc17a90070cb952647bf88141ad9c80c,aa2ff513ffb9c844462a1fb07c599bce7f3bb53d,m,1250.0,1250.0,1250.0
46,46,Arabica,great lakes coffee uganda,Uganda,kaasayi,NaN,great lakes coffee,0,ucda,NaN,...,NaN,0,"October 1st, 2015",Uganda Coffee Development Authority,188fe373b511e21f614564bf86aa4774270d8e04,b7614767a5343729bbde3a2777c60ce836aed928,m,NaN,NaN,NaN
47,47,Arabica,lusso lab,Colombia,ecobio colombia,NaN,NaN,NONE,lusso coffee lab,900-1500m,...,Green,1,"March 20th, 2015",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,900.0,1500.0,1200.0
48,48,Arabica,lusso lab,Kenya,kianjavi,NaN,NaN,NONE,lusso coffee lab,1520m-2200m,...,Green,1,"February 6th, 2015",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1520.0,2200.0,1860.0
49,49,Arabica,afca,Uganda,NaN,NaN,NaN,x,kawacom uganda ltd,1400-1900m,...,Blue-Green,0,"February 12th, 2013",Africa Fine Coffee Association,073285c0d45e2f5539012d969937e529564fa6fe,c4ab13415cdd69376a93780c0166e7b1a10481ea,m,1400.0,1900.0,1650.0

In [6]:
# delete unnecessary column
del coffee_df_new['Lot.Number']
del coffee_df_new['Mill']
del coffee_df_new['ICO.Number']
del coffee_df_new['Company']
del coffee_df_new['Producer']
del coffee_df_new['In.Country.Partner']
del coffee_df_new['Certification.Body']
del coffee_df_new['Certification.Address']
del coffee_df_new['Certification.Contact']
del coffee_df_new['Owner.1']

coffee_df_new.head(20)

,Unnamed: 0,Species,Owner,Country_of_Origin,Farm.Name,Altitude,Region,Number.of.Bags,Bag.Weight,Harvest.Year,...,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,1950-2200,Guji,300,60 kg,2014,...,0.12,0,0.0,Green,0,"April 3rd, 2016",m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,1950-2200,Guji,300,60 kg,2014,...,0.12,0,0.0,Green,1,"April 3rd, 2016",m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",1600 - 1800 m,NaN,5,1,NaN,...,0.00,0,0.0,NaN,0,"May 31st, 2011",m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,1800-2200,oromia,320,60 kg,2014,...,0.11,0,0.0,Green,2,"March 25th, 2016",m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,1950-2200,Guji,300,60 kg,2014,...,0.12,0,0.0,Green,2,"April 3rd, 2016",m,1950.0,2200.0,2075.0
5,5,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,100,30 kg,2013,...,0.11,0,0.0,Bluish-Green,1,"September 3rd, 2014",m,NaN,NaN,NaN
6,6,Arabica,hugo valdivia,Peru,NaN,NaN,NaN,100,69 kg,2012,...,0.11,0,0.0,Bluish-Green,0,"September 17th, 2013",m,NaN,NaN,NaN
7,7,Arabica,ethiopia commodity exchange,Ethiopia,aolme,1570-1700,oromia,300,60 kg,March 2010,...,0.03,0,0.0,NaN,0,"September 2nd, 2011",m,1570.0,1700.0,1635.0
8,8,Arabica,ethiopia commodity exchange,Ethiopia,aolme,1570-1700,oromia,300,60 kg,March 2010,...,0.03,0,0.0,NaN,0,"September 2nd, 2011",m,1570.0,1700.0,1635.0
9,9,Arabica,diamond enterprise plc,Ethiopia,tulla coffee farm,1795-1850,SNNPR,50,60 kg,2014,...,0.10,0,0.0,Green,4,"March 29th, 2016",m,1795.0,1850.0,1822.5
10,10,Arabica,mohammed lalo,Ethiopia,fahem coffee plantation,1855-1955,oromia,300,60 kg,2014,...,0.10,0,0.0,NaN,1,"March 26th, 2016",m,1855.0,1955.0,1905.0
11,11,Arabica,cqi q coffee sample representative,United States,el filo,meters above sea level: 1.872,antioquia,10,1 kg,2014,...,0.00,0,0.0,NaN,0,"March 12th, 2016",m,1872.0,1872.0,1872.0
12,12,Arabica,cqi q coffee sample representative,United States,los cedros,meters above sea level: 1.943,antioquia,10,1 kg,2014,...,0.00,0,0.0,NaN,0,"March 12th, 2016",m,1943.0,1943.0,1943.0
13,13,Arabica,grounds for health admin,United States (HI),arianna farms,2000 ft,kona,1,1,Sept 2009 - April 2010,...,0.00,0,0.0,NaN,2,"May 31st, 2011",ft,609.6,609.6,609.6
14,14,Arabica,ethiopia commodity exchange,Ethiopia,aolme,1570-1700,oromia,300,60 kg,March 2010,...,0.05,0,0.0,NaN,2,"August 31st, 2011",m,1570.0,1700.0,1635.0
15,15,Arabica,cqi q coffee sample representative,United States,el águila,meters above sea level: 2.080,antioquia,10,1 kg,2014,...,0.00,0,0.0,NaN,0,"March 12th, 2016",m,2080.0,2080.0,2080.0
16,16,Arabica,grounds for health admin,Indonesia,toarco jaya,1200-1800m,sulawesi,1,"2 kg,lbs",May-August,...,0.03,0,0.0,NaN,0,"May 31st, 2011",m,1200.0,1800.0,1500.0
17,17,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,yirgacheffe,150,6,2009/2010,...,0.05,0,0.0,NaN,2,"June 16th, 2011",m,NaN,NaN,NaN
18,18,Arabica,yunnan coffee exchange,China,echo coffee,1450,yunnan,3,60 kg,2015,...,0.10,0,0.0,Green,0,"April 7th, 2017",m,1450.0,1450.0,1450.0
19,19,Arabica,essencecoffee,Ethiopia,drima zede,1700-2000m,SNNPR,250,60 kg,2014,...,0.00,0,0.0,NaN,8,"March 24th, 2016",m,1700.0,2000.0,1850.0
20,20,Arabica,cqi q coffee sample representative,United States,el rodeo,meters above sea level: 2.019,antioquia,10,1 kg,2014,...,0.00,0,0.0,None,0,"March 12th, 2016",m,2019.0,2019.0,2019.0
21,21,Arabica,the coffee source inc.,Costa Rica,several,1300 msnm,san ramon,250,3 lbs,2014,...,0.11,0,0.0,Green,2,"April 2nd, 2015",m,1300.0,1300.0,1300.0
22,22,Arabica,roberto licona franco,Mexico,la herradura,1320,Veracruz,14,1 kg,2012,...,0.13,0,0.0,Green,0,"July 26th, 2013",m,1320.0,1320.0,1320.0
23,23,Arabica,cqi q coffee sample representative,United States,la curva,meters above sea level: 2.112,antioquia,10,1 kg,2014,...,0.00,0,0.0,NaN,0,"March 12th, 2016",m,2112.0,2112.0,2112.0
24,24,Arabica,ji-ae ahn,Ethiopia,NaN,NaN,Sidama,100,60 kg,2013,...,0.11,0,0.0,Bluish-Green,1,"September 3rd, 2014",m,NaN,NaN,NaN
25,25,Arabica,nucoffee,Brazil,fazenda kaquend,1250m,Sul de Minas,3,60 kg,2011,...,0.12,0,0.0,Green,2,"December 2nd, 2012",m,1250.0,1250.0,1250.0
26,26,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,Sidama,150,6,2009/2010,...,0.05,0,0.0,NaN,2,"June 16th, 2011",m,NaN,NaN,NaN
27,27,Arabica,kabum trading company,Uganda,chebonet (23) women coffee,1950,kapchorwa,100,60 kg,2013,...,0.12,0,0.0,Green,1,"June 26th, 2015",m,1950.0,1950.0,1950.0
28,28,Arabica,bismarck castro,Honduras,los hicaques,1400,comayagua,275,69 kg,2016,...,0.10,0,0.0,Green,3,"May 18th, 2018",m,1400.0,1400.0,1400.0
29,29,Arabica,"lin, che-hao krude 林哲豪",Taiwan,tsoustructive garden 鄒築園,1200,Chiayi,20,50 kg,2015,...,0.00,0,0.0,Green,0,"May 18th, 2017",m,1200.0,1200.0,1200.0
30,30,Arabica,nora zeas,Nicaragua,NaN,NaN,NaN,275,6,NaN,...,0.08,0,0.0,NaN,2,"May 18th, 2011",m,NaN,NaN,NaN
31,31,Arabica,specialty coffee-korea,Tanzania,NaN,NaN,NaN,100,60 kg,2012,...,0.11,0,0.0,Bluish-Green,1,"September 3rd, 2014",m,NaN,NaN,NaN
32,32,Arabica,nucoffee,Brazil,fazenda recreio,1300,grama valley,29,60 kg,2011,...,0.12,0,0.0,Green,2,"December 2nd, 2012",m,1300.0,1300.0,1300.0
33,33,Arabica,francisco a mena,Costa Rica,exclusive coffees s.a.,1300,west valley,250,2 lbs,2015/2016,...,0.00,0,0.0,Blue-Green,0,"December 2nd, 2016",m,1300.0,1300.0,1300.0
34,34,Arabica,hider abamecha,Ethiopia,haider abamecha coffee plantation,1750-1800,oromia,320,60 kg,2014,...,0.10,0,0.0,Green,3,"March 26th, 2016",m,1750.0,1800.0,1775.0
35,35,Arabica,daniel magu,Kenya,kangunu,1800,muranga,320,1 kg,2013,...,0.12,0,0.0,Blue-Green,1,"May 30th, 2015",m,1800.0,1800.0,1800.0
36,36,Arabica,kona pacific farmers cooperative,United States (HI),NaN,NaN,kona,10,100 lbs,2012,...,0.00,1,0.0,NaN,4,"April 6th, 2013",ft,NaN,NaN,NaN
37,37,Arabica,kona pacific farmers cooperative,United States (HI),kona pacific farmers cooperative,NaN,kona,25,100 lbs,2010,...,0.00,2,0.0,NaN,1,"January 28th, 2012",ft,NaN,NaN,NaN
38,38,Arabica,ethiopia commodity exchange,Ethiopia,"phone number | 0911-51-08-01, email | at",NaN,yirgacheffe,300,6,2009/2010,...,0.10,0,0.0,NaN,2,"June 17th, 2011",m,NaN,NaN,NaN
39,39,Arabica,cqi q coffee sample representative,United States,la primavera,meters above sea level: 1.941,antioquia,10,1 kg,2014,...,0.00,0,0.0,NaN,0,"March 12th, 2016",m,1941.0,1941.0,1941.0
40,40,Arabica,itdp international,Thailand,co-op #12,1300,chiang rai,53,1 kg,2012,...,0.10,1,0.0,Green,9,"April 12th, 2013",m,1300.0,1300.0,1300.0
41,41,Arabica,jacques pereira carneiro,Brazil,pereira estate coffee,1.2,Sul de Minas,300,60 kg,2010,...,0.08,0,0.0,NaN,2,"January 4th, 2012",m,12.0,12.0,12.0
42,42,Arabica,jacques pereira carneiro,Brazil,pereira estate coffee,1.2,Sul de Minas,300,60 kg,2010,...,0.01,0,0.0,NaN,3,"January 4th, 2012",m,12.0,12.0,12.0
43,43,Arabica,"lin, che-hao krude 林哲豪",Taiwan,sunshine valley estate 向陽高山咖啡,1000 m,nantou,10,15 kg,2015,...,0.12,0,0.0,Green,0,"June 9th, 2016",m,1000.0,1000.0,1000.0
44,44,Arabica,jungle estate,Kenya,jungle estate,1754,nyeri,12,60 kg,2014,...,0.11,0,0.0,Bluish-Green,2,"January 29th, 2016",m,1754.0,1754.0,1754.0
45,45,Arabica,nucoffee,Brazil,fazenda kaquend,1250m,Sul de Minas,7,60 kg,2011,...,0.11,0,0.0,Blue-Green,2,"December 2nd, 2012",m,1250.0,1250.0,1250.0
46,46,Arabica,great lakes coffee uganda,Uganda,kaasayi,NaN,eastern,1,60 kg,2014,...,0.00,0,0.0,NaN,0,"October 1st, 2015",m,NaN,NaN,NaN
47,47,Arabica,lusso lab,Colombia,ecobio colombia,900-1500m,tolima,1,2 kg,2013,...,0.12,1,0.0,Green,1,"March 20th, 2015",m,900.0,1500.0,1200.0
48,48,Arabica,lusso lab,Kenya,kianjavi,1520m-2200m,kiambu,1,1 kg,2013,...,0.11,0,0.0,Green,1,"February 6th, 2015",m,1520.0,2200.0,1860.0
49,49,Arabica,afca,Uganda,NaN,1400-1900m,mt elgon,1,60 kg,2012,...,0.10,0,0.0,Blue-Green,0,"February 12th, 2013",m,1400.0,1900.0,1650.0

In [7]:
#Look at key metrics by species
#Coffee Score by Species
species_group = coffee_df_new.groupby('Species')
coffee_score_species_metrics = species_group.agg({"CoffeeScore": ["mean", "median", "var", "std", "sem"]})
coffee_score_species_metrics

        CoffeeScore
               mean median        var       std      sem
Species
Arabica   82.115927   82.5  12.360573  3.515761  0.09710
Robusta   80.868929   81.5   5.959617  2.441233  0.46135

In [8]:
#Given the high ariance in coffee scores, in particular among arabica variaties, we can use a box plot to show distribution of coffee scores

#Calculate upper and lower bounds, IQR and identify outliers

#Create boxplot
# plt.boxplot(coffee_df_new)
# plt.xticks([1, 2], ['Arabica', 'Robusta']) 
# plt.show()

In [9]:
#Flavor by Species
flavor_species_metrics = species_group.agg({"Flavor": ["mean", "median", "var", "std", "sem"]})
flavor_species_metrics

           Flavor
             mean median       var       std       sem
Species
Arabica  7.518070   7.58  0.159983  0.399979  0.011047
Robusta  7.630714   7.71  0.092207  0.303656  0.057386

In [10]:
#Aroma by Species
aroma_species_metrics = species_group.agg({"Aroma": ["mean", "median", "var", "std", "sem"]})
aroma_species_metrics

            Aroma
             mean median       var       std       sem
Species
Arabica  7.563806   7.58  0.143388  0.378666  0.010458
Robusta  7.702500   7.67  0.087708  0.296156  0.055968

In [11]:
#Aftertaste by Species
aftertaste_species_metrics = species_group.agg({"Aftertaste": ["mean", "median", "var", "std", "sem"]})
aftertaste_species_metrics

        Aftertaste
              mean median       var       std       sem
Species
Arabica   7.397696   7.42  0.164121  0.405119  0.011189
Robusta   7.559643   7.67  0.117285  0.342469  0.064721

In [12]:
#Look at key metrics by processing method
processing_method_group = coffee_df_new.groupby('Processing_Method')
coffee_score_pm_metrics = processing_method_group.agg({'CoffeeScore': ["mean", "median", "var", "std", "sem"]})
coffee_score_pm_metrics

                          CoffeeScore
                                 mean  median        var       std       sem
Processing_Method
Natural / Dry               82.245039  82.750   8.003929  2.829122  0.176133
Other                       81.278462  81.830  15.986422  3.998302  0.784132
Pulped natural / honey      82.807857  82.665   2.846787  1.687243  0.450935
Semi-washed / Semi-pulped   82.633571  82.500   3.121245  1.766705  0.236086
Washed / Wet                81.967816  82.420   7.184830  2.680453  0.093892

In [13]:
# Generate a bar graph of coffee scores by processing method
# plt.bar(processing_method_group['Processing_Method'], processing_method_group['CoffeeScore'])
# plt.xlabel("Processing_Method")
# plt.ylabel("CoffeeScore")
# plt.show()

In [14]:
#GroupBy Species and Country of Origin
#Count coffees by country for each species
species_by_country = coffee_df_new.groupby(['Species'])['Country_of_Origin'].value_counts()
species_by_country

#Look at percentage of coffees by country
#count_of_species = coffee_df_new['Species'].value_counts()
#count_of_species
#species_percent_by_country = species_by_country / count_of_species 
#species_percent_by_country

Species  Country_of_Origin
Arabica  Mexico                236
         Colombia              183
         Guatemala             181
         Brazil                132
         Taiwan                 75
         United States (HI)     73
         Honduras               53
         Costa Rica             51
         Ethiopia               44
         Tanzania               40
         Thailand               32
         Nicaragua              26
         Uganda                 26
         Kenya                  25
         El Salvador            21
         Indonesia              20
         China                  16
         Malawi                 11
         Peru                   10
         Myanmar                 8
         United States           8
         Vietnam                 7
         Haiti                   6
         Philippines             5
         Panama                  4
         United States (PR)      4
         Laos                    3
         Burundi                 2
         Cote d?Ivoire           1
         Ecuador                 1
         India                   1
         Japan                   1
         Mauritius               1
         Papua New Guinea        1
         Rwanda                  1
         Zambia                  1
Robusta  India                  13
         Uganda                 10
         Ecuador                 2
         United States           2
         Vietnam                 1
Name: Country_of_Origin, dtype: int64

In [15]:
#plot bar chart
country_count_chart = country_count
country_count_chart_clean = country_count.plot(kind='bar', figsize=(6,8))

#set x and y axis
country_count_chart_clean.set_xlabel("Country of Origin")
country_count_chart_clean.set_ylabel("Number of Coffees")

plt.tight_layout()

plt.show()

NameError: name 'country_count' is not defined